     <!--<< Breadcrumb Section Start >>-->
<div class="breadcrumb-wrapper section-padding bg-cover" style="background-image: url('/assets/img/brand/breadcrumb (1).jpg');">
    <div class="container">
        <div class="page-heading">
            <h1 class="wow fadeInUp" data-wow-delay=".3s">our Plans</h1>
            <ul class="breadcrumb-items wow fadeInUp" data-wow-delay=".5s">
                <li>
                    <a href="@Url.Action("Index","website")">
                        Home
                    </a>
                </li>
                <li>
                    <i class="fal fa-minus"></i>
                </li>
                <li>
                   Add to cart Connection Plans
                </li>
            </ul>
        </div>
    </div>
</div>

@* plans  *@

<div class="container" style="margin-top:20px;margin-bottom:20px;">
    <div class="row">
        <div class="col">
            <h2 class="text-center" style="color:red;">Your Plan Info</h2>

        </div>
    </div>

</div>




<div class="container">
    <div class="table-responsive">
        <table class="table table-striped table-bordered plan-table">
            <thead class="thead-dark">
                <tr>
                    <th>Plan Name</th>
                    <th>Price</th>
                    <th>Qunantiy</th>
                    <th>Total</th>
                    <th>Action</th>
                    
                </tr>
            </thead>
            <tbody>
                @foreach (var plan_data in Model.cartplan)
                {
                                  
                        <tr class="table-row">
                        <td>@plan_data.planName</td>
                        <td>@plan_data.price</td>
                        <td>@plan_data.quantity</td>
                        <td>@plan_data.total</td>
                       
                        <td style="text-align:center;">
                          
                            <button class="btn btn-primary p-2">
                                <a href="@Url.Action("update","website",new{id=plan_data.cart_id})" style="color:white">Update</a>
                            </button>
                            <button class="btn btn-danger p-2">
                                <a style="color:white" href="@Url.Action("delete_plan","website",new{id=plan_data.cart_id})">Delete</a>
                            </button>
                        </td>
                    </tr>
                    

                }


            </tbody>
        </table>

    </div>
</div>
<h3> total:@TempData["sumtotal"]</h3>
<h3>Discount:@TempData["total"]</h3>
<h3>count of plan subcribed:@TempData["count"]</h3>
<buuton class="btn btn-primary">
    <a style="color:white;" href="@Url.Action("details_plans","website")">add to plan</a>
</buuton>
