@model Nexus.Models.mainmodel
@{
    Layout = Layout = "../shared/Dashboard_layout.cshtml";
}

@if (TempData["successfully"] != null)
{
    <div class="alert alert-success" role="alert">
        <h3>@TempData["successfully"]</h3>
    </div>
}
<div class="row">
    <div class="col-md-12">
        <div class="form-container">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <h2 class="heading">Update Product</h2>
                        <div class="underline"></div>
                    </div>
                </div>
            </div>

            <form method="post">
                <div class="form-row">
                   
                    <div class="form-group col-md-6">
                        <input type="hidden" value="@Model.productData.Id" name="Id">
                      
                        <label for="name">Name</label>
                        <input name="Name" type="text" class="form-control" id="email" value="@Model.productData.Name" required>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="email">Price</label>
                        <input name="Price" type="text" class="form-control" id="email" value="@Model.productData.Price" required>
                    </div>
                </div>



                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="jobTitle">Quantity</label>
                        <input name="Quantity" type="text" class="form-control" id="password" value="@Model.productData.Quantity" required>
                    </div>
                </div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-modern btn-danger">Update</button>
                    </div>
                <input type="hidden" value="@Model.productData.Vendor_Id" name="Vendor_Id">
            </form>
        </div>
    </div>
</div>
<style>
    .heading {
        color: black;
        font-size: 3rem;
        font-weight: bold;
        text-transform: uppercase;
        /* text-shadow: 2px 2px 4px#d6111e;  */
        text-align: center;
        margin-top: 30px;
        margin-bottom: 10px;
    }

    .underline {
        height: 4px;
        background-color: #d6111e;
        width: 60%;
        margin: 0 auto;
    }</style>