@model Nexus.Models.mainmodel
@{
    Layout = Layout = "../shared/Dashboard_layout.cshtml";
}<style>
     .heading {
         color: black;
         font-size: 3rem;
         font-weight: bold;
         text-transform: uppercase;
         /* text-shadow: 2px 2px 4px#d6111e;  */
         text-align: center;
         margin-top: 30px;
         margin-bottom: 10px;
     }

     .underline {
         height: 4px;
         background-color: #d6111e;
         width: 60%;
         margin: 0 auto;
     }</style>
<div class="container" style="height:85vh;">
    <div class="row">
        <div class="col-12 mb-4">
            <form class="form-inline" autocomplete="off">
                <div class="input-group">
                    <input type="text" name="txtsearch" class="form-control rounded-pill search-input" placeholder="Search user by Name..." aria-label="Search" aria-describedby="button-addon2">
                    <button class="btn btn-outline-danger rounded-pill search-btn" type="submit" id="button-addon2">Search</button>
                </div>
            </form>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="content">
                <div class="container">
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <h2 class="heading">
                                    connection plan SubScribed Record List

                                </h2>
                                <div class="underline"></div>
                            </div>
                        </div>
                    </div>
                    <!-- Table to display employees -->
                    <div class="table-responsive">
                        <table id="employeeTable" class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Order ID</th>

                                    <th>User Name</th>
                                    <th>user phone</th>
                                    <th>task date</th>
                                    <th>status</th>
                                  
                                    <th>invoice</th>
                                  
                                  

                                    <th style="text-align:center">Action</th> <!-- Action column for edit/delete buttons -->
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var plan_data in Model.plansubdetails)
                                {
                                    <tr>
                                        <th scope="row">@plan_data.order_id</th>
                                        <th scope="row">@plan_data.user_name</th>
                                        <th scope="row">@plan_data.user_number</th>
                                        <th scope="row">@plan_data.date</th>

                                        <th scope="row">@plan_data.status_updates</th>
                                        <th scope="row">@plan_data.GenerateBillstatus_update</th>
                                       
                                        
                                     

                                        <td style="text-align:center;">

                                            
                                            <button class="btn btn-warning p-2">
                                                <a href="@Url.Action("plansub_data","plans",new{id=plan_data.addtocartid})" style="color:white">Details</a>
                                            </button>
                                            <button class="btn btn-danger p-2">
                                                <a href="@Url.Action("plansub_delete","plans",new{id=plan_data.addtocartid})" style="color:white">Delete</a>
                                            </button>
                                       
                                        </td>
                                    </tr>
                                }


                            </tbody>
                        </table>
                        @if (TempData["error"] != null)
                        {
                            <h4 style="color:red;text-align:center;">@TempData["error"]</h4>
                        }
                    </div>
                </div>
            </div>
            <div />
        </div>
    </div>
</div>
