@model Nexus.Models.mainmodel
@{
    Layout = "../shared/Dashboard_layout.cshtml";
}
<div class="container">
    <div class="row">
        <div class="col-md-3 "></div>
        <div class="col-md-6 ">

            <div class="pcard" style="margin-top:50px">

                <div class="pdetails">
                    <div class="pheader">  <h1>Order</h1></div>
                    <h5> Order ID: @Model.subcribeddata.order_id </h5>
                    <h6> Account ID : @Model.subcribeddata.account_id</h6>
                    <p> User Name: @Model.subcribeddata.user_name </p>
                    <p> user email:@Model.subcribeddata.user_email  </p>
                    <p> Number:@Model.subcribeddata.user_number<p>
                    <p> Subcribed Date & Time : @Model.subcribeddata.GetDate<p>
                    <p>  Adddress :@Model.subcribeddata.user_address<p>
                        <h1 style="text-align:center;"> plan info and bank info</h1>
                    <p> plan Subscribe : @Model.subcribeddata.plan_name<p>

                    <p> charges :$ @Model.subcribeddata.charges </p>
                    <p>Task date :@Model.subcribeddata.date</p>
                    <p> Status :@Model.subcribeddata.status_updates</p>
                    <p> Status :@Model.subcribeddata.GenerateBillstatus_update</p>
                    <p> Payment of Mode: @Model.subcribeddata.paymentofmode</p>

                    <p> Pin Code: @Model.subcribeddata.pincode</p>


                    <button class="btn">
                        <a style="color:white;" href="@Url.Action("schemeSubcribed","schemes")"> Back to list</a>
                    </button>
                </div>
            </div>
        </div>
        <div class="col-md-3 "></div>
    </div>
</div>


<style>
    .pcard {
        border: 2px solid red;
        border-radius: 10px;
        overflow: hidden;
        transition: transform 0.3s, box-shadow 0.3s;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        background-color: #fff;
    }

        .pcard:hover {
            transform: translateY(-10px);
            box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
        }

    p {
        font-size: 25px;
    }

    .pheader {
        background: linear-gradient(45deg, #ff4b2b, #ff416c);
        color: white;
        padding: 20px;
        font-size: 1.5em;
        text-align: center;
    }</style>

